@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mr Robot<br />
    Milwaukee, WI 53202<br />
    <abbr title="Phone">P:</abbr>
    414.777.9311
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">marx414@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marx414@devcodecamp.com</a>
</address>